# pandas è¿›é˜¶ä¿®ç‚¼ ï½œæ—©èµ·Python
<br>

**æœ¬ä¹ é¢˜ç”±å…¬ä¼—å·ã€æ—©èµ·Python & å¯è§†åŒ–å›¾é‰´ã€‘ åŸåˆ›ï¼Œè½¬è½½åŠå…¶ä»–å½¢å¼åˆä½œè¯·ä¸æˆ‘ä»¬è”ç³»ï¼ˆå¾®ä¿¡å·`sshs321`)ï¼Œæœªç»æˆæƒä¸¥ç¦æ¬è¿åŠäºŒæ¬¡åˆ›ä½œï¼Œä¾µæƒå¿…ç©¶ï¼**



æœ¬ä¹ é¢˜åŸºäº `pandas` ç‰ˆæœ¬ `1.1.3`ï¼Œæ‰€æœ‰å†…å®¹åº”å½“åœ¨ `Jupyter Notebook` ä¸­æ‰§è¡Œä»¥è·å¾—æœ€ä½³æ•ˆæœã€‚

ä¸åŒç‰ˆæœ¬ä¹‹é—´å†™æ³•å¯èƒ½ä¼šæœ‰å°‘è®¸ä¸åŒï¼Œå¦‚è‹¥ç¢°åˆ°æ­¤æƒ…å†µï¼Œä½ åº”è¯¥å­¦ä¼šå¦‚ä½•è‡ªè¡Œæ£€ç´¢è§£å†³ã€‚

# 2 - pandas ä¸ªæ€§åŒ–æ˜¾ç¤ºè®¾ç½®
<br>

åœ¨ä½¿ç”¨ `pandas` æ—¶ï¼Œæœ‰æ—¶é»˜è®¤çš„é…ç½®æ–¹æ¡ˆå¹¶ä¸èƒ½è®©æˆ‘ä»¬èˆ’æœçš„è¿›è¡Œæ•°æ®åˆ†æã€‚

å¹¸è¿çš„æ˜¯ï¼Œ`pandas` ä¹Ÿæ”¯æŒæˆ‘ä»¬ <font color=#E36C07>**è‡ªå®šä¹‰æ˜¾ç¤ºã€æ ·å¼ç­‰ä¸ªæ€§åŒ–æ“ä½œ**</font>ã€‚

æœ¬èŠ‚å°†éƒ¨åˆ†å¸¸ç”¨çš„è®¾ç½®æ•´ç†ä¸ºä¹ é¢˜å½¢å¼ï¼Œ<font color=#E36C07>  **æ‰€æœ‰æ“ä½œç­”æ¡ˆæ‹¿èµ°å³ç”¨ã€‚æ—¢å¯ä»¥åˆ·ä¸€éæ¥äº†è§£æœ‰è¿™æ ·é‚£æ ·çš„è®¾ç½®ï¼Œä¹Ÿå¯ä»¥ä¿å­˜ç”¨äºé€ŸæŸ¥æ‰‹å†Œ** </font>  

æ³¨æ„ï¼šæœ¬ä¹ é¢˜ä¸­æœªæåŠçš„é…ç½®å¯ä»¥ç‚¹å‡»æŸ¥é˜… `pandas` ğŸ‘‰ [**å®˜æ–¹æ–‡æ¡£å¯¹åº”æ–‡ç« **](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html)

## åˆå§‹åŒ–

<br>

è¯¥ `Notebook` ç‰ˆæœ¬ä¸º**çº¯ä¹ é¢˜ç‰ˆ**

å¦‚æœéœ€è¦ç­”æ¡ˆæˆ–è€…æç¤ºï¼Œå¯ä»¥å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€è·å–ï¼

## åŠ è½½æ•°æ®

å¯¼å…¥ `pandas` å¹¶è¯»å–å½“å‰ç›®å½•ä¸‹ `csv` æ•°æ®(`data.csv`)

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("data.csv")

## ä¸»è¦è®² pd.set_option() å’Œ df.style [Style](https://pandas.pydata.org/pandas-docs/stable/reference/style.html)

## 2-1 åŸºäº option ä¿®æ”¹æ˜¾ç¤ºè®¾ç½®
<br>

åœ¨ `pandas` ä¸­æœ‰ä¸€ä¸ª `option` ç³»ç»Ÿï¼Œå¯ä»¥é€šè¿‡ `set_option`æ–¹æ³•è¿›è¡Œè¿›é˜¶æ˜¾ç¤ºé€‰é¡¹è®¾ç½®ã€‚

æœ¬å°èŠ‚ä¸»è¦æ•´ç†äº†ä¸€äº›åŸºäº `option` ä¿®æ”¹æ•°æ®æ˜¾ç¤ºçš„è®¾ç½®ã€‚

æ³¨æ„ã€**åŸºäº option ä¿®æ”¹æ˜¾ç¤ºè®¾ç½®**ã€‘å¹¶æœªä¿®æ”¹æ•°æ®ï¼Œä»…æ˜¯åœ¨åŸæœ‰æ•°æ®åŸºç¡€ä¸Šä¼˜åŒ–æ˜¾ç¤ºçŠ¶æ€ï¼Œéšæ—¶å¯ä»¥é€šè¿‡é‡ç½®é€‰é¡¹é‡ç½®å…¨éƒ¨è®¾ç½®ï¼Œæ¢å¤æ•°æ®é»˜è®¤æ˜¾ç¤ºçŠ¶æ€ã€‚

### 1 æ˜¾ç¤ºå…¨éƒ¨åˆ—

<br>
å¦‚ä¸‹å›¾æ‰€ç¤ºğŸ‘‡ï¼Œç›´æ¥æŸ¥çœ‹ `data` ä¼šå‘ç°ï¼Œç”±äºæ•°æ®ç»´åº¦è¾ƒå¤§ï¼Œéƒ¨åˆ†è¡Œåˆ—ä¼šè¢«æŠ˜å ï¼Œæ˜¾ç¤ºä¸º`...`ï¼Œç°åœ¨éœ€è¦æ˜¾ç¤ºå…¨éƒ¨çš„åˆ—æ–¹ä¾¿é¢„è§ˆã€‚

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/08/19/16293397012946.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

åœ¨ä¸‹é¢çš„ cell ä¸­è¾“å…¥ä½ çš„è§£å†³æ–¹æ¡ˆï¼Œå¹¶åœ¨æœ€åæ‰§è¡Œ `data.head()`ä»¥æ£€æŸ¥ä½ çš„ç­”æ¡ˆæ˜¯å¦æ­£ç¡®è§£å†³é—®é¢˜ã€‚

In [ ]:
'''
# display.date_dayfirstï¼šboolean
å½“valueè®¾ç½®ä¸ºTrueï¼Œprintå‡ºæ¥æ—¶ï¼Œä¼šå°†æ—¥æœŸæ”¾åœ¨æœ€å‰é¢ã€‚ï¼ˆå¦‚ï¼š20/01/2005ï¼‰[default: False] [currently: False]

# display.date_yearfirstï¼šboolean
å½“valueè®¾ç½®ä¸ºTrueæ—¶ï¼Œprintå‡ºæ¥æ—¶ï¼Œä¼šå°†å¹´ä»½æ”¾åœ¨æœ€å‰é¢ã€‚ï¼ˆå¦‚ï¼š2005/01/20ï¼‰[default: False] [currently: False]

'''

In [ ]:
pd.set_option('display.max_columns', None) # æ˜¾ç¤ºå…¨éƒ¨è¡Œ
data

### 2 æ˜¾ç¤ºæŒ‡å®šè¡Œ/åˆ—

<br>

æŒ‡å®šè®© `data` åœ¨é¢„è§ˆæ—¶æ˜¾ç¤º10åˆ—ï¼Œ7è¡Œ

### 3 è¿˜åŸè¡Œ/åˆ—æ˜¾ç¤ºæ•°

<br>
è¿˜åŸä¸Šé¢çš„æ˜¾ç¤ºè®¾ç½®

In [10]:
pd.reset_option("max_rows")
pd.reset_option("max_columns")

### 4 ä¿®æ”¹æ¯åˆ—æœ€å¤§å­—ç¬¦å®½åº¦

<br>

å³æ¯åˆ—æœ€å¤šæ˜¾ç¤ºçš„å­—ç¬¦é•¿åº¦ï¼Œä¾‹å¦‚ã€æ¯åˆ—æœ€å¤šæ˜¾ç¤º10ä¸ªå­—ç¬¦ï¼Œå¤šä½™çš„ä¼šå˜æˆ`...`ã€‘

### 5 ä¿®æ”¹å°æ•°ç‚¹ç²¾åº¦

<br>

ä¿®æ”¹é»˜è®¤æ˜¾ç¤ºç²¾åº¦ä¸ºå°æ•°ç‚¹å5ä½

### 6 è¿˜åŸæ‰€æœ‰æ˜¾ç¤ºè®¾ç½®

è¿˜åŸä¸Šé¢çš„å…¨éƒ¨æ˜¾ç¤ºè®¾ç½®

In [11]:
pd.reset_option("^display")

## 2-2 æ›´å¤š option ç›¸å…³è®¾ç½®

### 7 å¿½ç•¥è­¦å‘Š
<br>

å–æ¶ˆ`pandas`ç›¸å…³`warning`æç¤º

### 8 è®¾ç½®æ•°å€¼æ˜¾ç¤ºæ¡ä»¶

å¦‚æœæ•°å€¼å°äº 20 åˆ™æ˜¾ç¤ºä¸º0

### 9 è®© pandas æ”¯æŒ LaTex

è®©`dataframe`ä¸­å†…å®¹æ”¯æŒ `Latex` æ˜¾ç¤ºï¼ˆéœ€è¦ä½¿ç”¨`$$`åŒ…ä½ï¼‰

### 10 ä¿®æ”¹é»˜è®¤ç»˜å›¾å¼•æ“

ä¿®æ”¹`pandas`é»˜è®¤ç»˜å›¾å¼•æ“ä¸º`plotly`ï¼ˆéœ€è¦æå‰å®‰è£…å¥½`plotly`ï¼‰

### 11 è¿˜åŸæ‰€æœ‰ option è®¾ç½®

è¿˜åŸä¸Šé¢å…¨éƒ¨ option è®¾ç½®

### å½©è›‹

å¦‚ä½•è®¾ç½®åœ¨é¢„è§ˆæ•°æ®æ—¶ï¼Œä¸æ¢è¡Œæ˜¾ç¤ºæ¯åˆ—å†…å®¹ï¼Ÿ

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/08/19/16293394983242.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

## 2-3 åŸºäº style  ä¸ªæ€§åŒ–è®¾ç½®

ä¸Šé¢åŸºäº `option` çš„ `pandas` ç›¸å…³è®¾ç½®æ˜¯<font color=#E36C07>å…¨å±€é…ç½®</font>ï¼Œä¸€æ¬¡è®¾ç½®ä¼šåœ¨å…³é—­notebookå‰ä¸€ç›´æœ‰æ•ˆ

ä½†ç›¸å…³å¸¸ç”¨çš„è®¾ç½®å¹¶ä¸å¤šï¼Œä¸èƒ½æ»¡è¶³æ›´å¤šçš„ä¸ªæ€§åŒ–éœ€æ±‚ã€‚

å¹¸è¿çš„æ˜¯åœ¨ `pandas` ä¸­æä¾› `Styler` å¯¹è±¡è®©æˆ‘ä»¬è¿›ä¸€æ­¥ä¸ªæ€§åŒ–å±•ç¤ºæ•°æ®ã€‚

æœ¬èŠ‚æˆ‘å°±å°†ä¸€äº›å¸¸ç”¨çš„åŸºäº `style` ä¸ªæ€§åŒ–è®¾ç½®æ•´ç†ä¸ºä¹ é¢˜æ¨¡å¼æ–¹ä¾¿å¤§å®¶å­¦ä¹ ã€å·©å›ºã€‚

æ³¨æ„ï¼šåŸºäº `style` ä¸ªæ€§åŒ–è®¾ç½®<font color=#E36C07>**åŒæ ·ä¸ä¼šä¿®æ”¹æ•°æ®**</font>ï¼Œæ‰€æœ‰ `data.style.xxxx` è¾“å‡ºçš„æ•°æ®å‡æ˜¯<font color=#E36C07>ä¸€æ¬¡æ€§çš„ï¼ˆå¯ä»¥å¤ç”¨ã€å¯¼å‡ºï¼‰</font>ï¼Œå› æ­¤ä½ åº”è¯¥åœ¨åˆé€‚çš„æ—¶é—´é€‰æ‹©ä½¿ç”¨è¯¥æ–¹æ³•ã€‚

ä¸‹é¢ä»…åˆ—ä¸¾å¸¸ç”¨çš„æ–¹æ³•ï¼Œè‹¥æƒ³äº†è§£æ›´å¤šå¯ä»¥æŸ¥é˜…[**pandaså®˜æ–¹æ–‡æ¡£å¯¹åº”æ–‡ç« ğŸ‘‰**](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html)

###  é‡æ–°åŠ è½½æ•°æ®

ä¸ºäº†æ–¹ä¾¿ç†è§£ï¼Œé‡æ–°è¯»å–`data.csv`**å‰20è¡ŒæŒ‡å®šåˆ—**
- `'positionName'`
- `'createTime'`ï¼ˆè®¾ç½®ä¸ºæ—¶é—´æ ¼å¼ï¼‰
- `'salary'`
- `'subwayline'`
- `'matchScore'`

In [170]:
data = pd.read_csv("data.csv", usecols=[
                   'positionName', 'createTime', 'salary', 'subwayline', 'matchScore'], nrows=20, parse_dates=['createTime'])

### 12 éšè—ç´¢å¼•

<br>

éšè—ç´¢å¼•åˆ—

### 13 è°ƒæ•´ç²¾åº¦

<br>

å°†å¸¦æœ‰å°æ•°ç‚¹çš„åˆ—ç²¾åº¦è°ƒæ•´ä¸ºå°æ•°ç‚¹å2ä½

### 14 æ ‡è®°ç¼ºå¤±å€¼

å°†ç¼ºå¤±å€¼æ ‡è®°ä¸º`æ•°æ®ç¼ºå¤±`

å¾®ä¿¡æœç´¢å…¬ä¼—å·ã€Œæ—©èµ·Pythonã€ï¼Œå…³æ³¨åå¯ä»¥è·å¾—æ›´å¤šèµ„æºï¼

### 15 é«˜äº®ç¼ºå¤±å€¼

<br>

å°†ç¼ºå¤±å€¼é«˜äº®ï¼Œé¢œè‰²å`skyblue`

### 16 é«˜äº®æ•°å€¼åˆ—æœ€å¤§å€¼
<br>
å°† æ•°å€¼æ ¼å¼åˆ—çš„æœ€å¤§å€¼è¿›è¡Œé«˜äº®

### 17 é«˜äº®æ•°å€¼åˆ—æœ€å°å€¼
<br>
å°† æ•°å€¼æ ¼å¼åˆ—çš„æœ€å°å€¼è¿›è¡Œé«˜äº®

### 18 åŒæ—¶é«˜äº®æœ€å¤§æœ€å°å€¼

<br>

åŒæ—¶é«˜äº®æœ€å¤§å€¼ï¼ˆé¢œè‰²ä»£ç ä¸º`#F77802`ï¼‰ä¸æœ€å°å€¼ï¼ˆé¢œè‰²ä»£ç ä¸º`#26BE49`ï¼‰

### 19 æŒ‡å®šæ ¼å¼é«˜äº®

é«˜äº® `salary` åˆ—èŒƒå›´åœ¨ 3000 - 10000 çš„æ•°å€¼

### 20 æ¸å˜æ˜¾ç¤ºæ•°å€¼åˆ—

å°†æ•°å€¼æ ¼å¼çš„åˆ—ä½¿ç”¨æ¸å˜è‰²ï¼ˆç»¿è‰²ï¼‰è¿›è¡Œæ˜¾ç¤ºï¼Œä»¥çªå‡ºè¶‹åŠ¿

### 21 ä¿®æ”¹å­—ä½“é¢œè‰²

<br>

å°† `salary` åˆ—ä¿®æ”¹ä¸ºçº¢è‰²å­—ä½“

### 22 ä¿®æ”¹èƒŒæ™¯é¢œè‰²ã€å¯¹é½æ–¹å¼ã€å­—ä½“å¤§å°
<br>

å°†æ•´ä¸ª `dataframe` è¿›è¡Œå¦‚ä¸‹è®¾ç½®ï¼š
- å±…ä¸­
- èƒŒæ™¯è‰²ä¿®æ”¹ä¸º `#F8F8FF`
- å­—ä½“:13px

### 23 ç»¼åˆ(é“¾å¼)è®¾ç½®
<br>

é™¤äº†ä¸Šé¢çš„å•ä¸ªè®¾ç½®ï¼Œè¿˜å¯ä»¥å°†å¤šä¸ªè®¾ç½®è¿›è¡Œç»“åˆï¼Œä¸‹é¢å¯¹æ•´ä¸ª `dataframe` è¿›è¡Œå¦‚ä¸‹è®¾ç½®ï¼š
- å±…ä¸­
- èƒŒæ™¯è‰²ä¿®æ”¹ä¸º `#F8F8FF`
- å­—ä½“:13px

å¹¶å°† `salary` åˆ—å­—ä½“ä¿®æ”¹ä¸ºçº¢è‰²

### 24 å¯¼å‡ºæ ·å¼

å°†ä¸Šä¸€é¢˜å¸¦æœ‰æ ·å¼çš„ `pandas` æ•°æ®æ¡†å¯¼å‡ºä¸ºæœ¬åœ° Excel(`.xlsx`æ ¼å¼)

### 25 åˆ¶ä½œæŒ‡å®šåˆ—æ¡å½¢å›¾

<br>

åœ¨ `pandas` ä¸­å¯¹ `salary` åˆ—ä½¿ç”¨æ¡å½¢å›¾è¿›è¡Œå¯è§†åŒ–ï¼ŒæŒ‡å®šé¢œè‰²`skyblue`

### 26 å¸¦æœ‰æ¡ä»¶çš„æ ·å¼ï¼ˆè‡ªå®šä¹‰æ ·å¼ï¼‰

å°† `salary` åˆ—æ•°å€¼å¤§äº 30000 çš„å•å…ƒæ ¼å­—ä½“ä¿®æ”¹ä¸ºçº¢è‰²

### 27 æ ¼å¼åŒ–è¾“å‡ºæ—¥æœŸç±»å‹

<br>

å°† `createTime` åˆ—æ ¼å¼åŒ–è¾“å‡ºä¸º `xxå¹´xxæœˆxxæ—¥`

### 28 æŒ‡å®šï¼ˆè‡ªå®šä¹‰ï¼‰æ ¼å¼åŒ–æ•°æ®

<br>

- åœ¨ `salary` åˆ—åå¢åŠ "å…ƒ"
- å¯¹ `matchScore` åˆ—ä¿ç•™ä¸¤ä½å°æ•°å¹¶å¢åŠ "åˆ†"

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/16/16317972442543.jpg?åŸŸå/sample.jpg?x-oss-process=style/stylename)

In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[38.0, 2.0, 18.0, 22.0, 21, np.nan],[19, 439, 6, 452, 226,232]],
                  index=pd.Index(['Tumour (Positive)', 'Non-Tumour (Negative)'], name='Actual Label:'),
                  columns=pd.MultiIndex.from_product([['Decision Tree', 'Regression', 'Random'],['Tumour', 'Non-Tumour']], names=['Model:', 'Predicted:']))
# df.style
df

Model:                Decision Tree            Regression            Random  \
Predicted:                   Tumour Non-Tumour     Tumour Non-Tumour Tumour
Actual Label:
Tumour (Positive)              38.0        2.0       18.0       22.0     21
Non-Tumour (Negative)          19.0      439.0        6.0      452.0    226

Model:
Predicted:            Non-Tumour
Actual Label:
Tumour (Positive)            NaN
Non-Tumour (Negative)      232.0

In [15]:
df.style

In [35]:
import numpy as np
np.random.seed(0)
df2 = pd.DataFrame(np.random.randn(10,4), columns=['A','B','C','D'])
df2.style

### df.style.apply() and df.style.applymap()

In [29]:
def highlight_max(x, color):
    return np.where(x == np.nanmax(x.to_numpy()), f"color: {color};", None)
df = pd.DataFrame(np.random.randn(5, 2), columns=["A", "B"])
df.style.apply(highlight_max, color='red')
df.style.apply(highlight_max, color='blue', axis=1)
df.style.apply(highlight_max, color='green', axis=1)

## 2-5 åŸºäº style  ä¸ªæ€§åŒ–è®¾ç½® plus
### Export to ExcelÂ¶

In [19]:
def style_negative(v, props=''):
    return props if v < 0 else None
df2.style.\
    applymap(style_negative, props='color:red;').\
    highlight_max(axis=0).\
    to_excel('styled.xlsx', engine='openpyxl')

In [ ]:
"""
background-color: 'green'

color

font-family

font-style

font-weight

text-align

text-decoration

vertical-align

white-space: nowrap
"""

In [23]:
def style_negative(v, props=''):
    return props if v > 0 else None
df2.style.\
    applymap(style_negative, props='background-color:blue;').\
    highlight_max(axis=0)